Source: rfkill
Section: devel
Priority: extra
Maintainer: Sanghee Lee <sh830.lee@samsung.com>, Kyuwook Lim <kyuwook.lim@samsung.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 0.1

Package: rfkill
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: simple /dev/rfkill userspace tool
